language = "python3"
run = "gunicorn --bind 0.0.0.0:8000 prj.wsgi:application"

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "/home/runner/$REPL_SLUG"
DJANGO_SETTINGS_MODULE = "prj.settings"
DEBUG = "True"
ALLOWED_HOSTS = "*"
CORS_ALLOW_ALL_ORIGINS = "True"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"]

[deployment]
run = ["sh", "-c", "python manage.py migrate && gunicorn --bind 0.0.0.0:8000 prj.wsgi:application"]
deploymentTarget = "cloudrun" 