language = "python3"
run = "python manage.py runserver 0.0.0.0:8000"

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "/home/runner/$REPL_SLUG"
DJANGO_SETTINGS_MODULE = "prj.settings"
DEBUG = "True"
ALLOWED_HOSTS = "0.0.0.0,localhost,127.0.0.1"
CORS_ALLOW_ALL_ORIGINS = "True"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"]

[deployment]
run = ["sh", "-c", "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"]
deploymentTarget = "cloudrun" 